root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,csx}]
# Keep style diagnostics non-disruptive under TreatWarningsAsErrors.
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
csharp_using_directive_placement = outside_namespace:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_style_namespace_match_folder = true:suggestion

