<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="repositoryPath" value=".packages" />
    </config>
    <packageSources>
        <clear/>
        <add key="ConfigGen" value="https://pkgs.dev.azure.com/utmo-public/_packaging/ConfigGen/nuget/v3/index.json" />
    </packageSources>
</configuration>